extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jane Etim

        p.lead.text-light
          | Backend Node.js Developer.

        .portfolio-bio
          p
            | I am a self-motivated and a self-taught passionate individual who is looking forward to hone and learn new skills to become a Software Engineer.
            | My code manifesto is to write clean code to develop functional web applications, participate in building application, as well as debugging and troubleshoting. I have ample knowledge in programming languages like Node.js and I am currently looking for a job to make use of my skills to achieve organization goals and also to fulfill 
            | my dream of becoming a Backend Developer.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Node.js
          li Typesript.js
          li Rest API 
          li NPM
          li Git
          li MongoDB
          li MySQL
          li Github
          li Express
        h6 Contact Info

        ul
          li +2347060482184
          li janeetim248@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/jane-etim-0791581b4/', target ='_blank') LinkedIn
        a.button.expanded(href='https://github.com/NkanorJ', target ='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  